@font-face {
  font-family: Parisienne;
  src: url(../../fonts/Parisienne-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: MontserratBlack;
  src: url(../../fonts/Montserrat-Black.ttf);
  font-display: swap;
}
@font-face {
  font-family: MontserratExtraBold;
  src: url(../../fonts/Montserrat-ExtraBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: MontserratBold;
  src: url(../../fonts/Montserrat-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: MontserratSemiBold;
  src: url(../../fonts/Montserrat-SemiBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: MontserratMedium;
  src: url(../../fonts/Montserrat-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: MontserratRegular;
  src: url(../../fonts/Montserrat-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: MontserratThin;
  src: url(../../fonts/Montserrat-Thin.ttf);
  font-display: swap;
}
@font-face {
  font-family: MontserratLight;
  src: url(../../fonts/Montserrat-Light.ttf);
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

input:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

html {
  height: 100%;
}

body {
  color: #404040;
  font-family: MontserratRegular;
  font-weight: 300;
  margin: 0;
  height: 100%;
}
body.lock {
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #202020;
  z-index: 10000000000;
}
.preloader__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.preloader__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 30px;
}
@media (max-width: 679.98px) {
  .preloader__inner {
    width: 230px;
    height: 230px;
  }
}
.preloader__inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  image-rendering: optimizeQuality;
}
.preloader__inner p {
  color: #ffce3c;
  font-family: MontserratBlack;
  font-size: 35px;
  text-align: center;
  letter-spacing: 10px;
  color: #ffce3c;
  margin: 5px 0px 0px 0px;
}
@media (max-width: 1130px) {
  .preloader__inner p {
    font-size: calc(20px + 15 * ((100vw - 320px) / 810));
  }
}
.preloader__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.preloader__img--arrow {
  width: 70%;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}
.preloader__img--mountain {
  width: 100%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.preloader h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: rotation 10s infinite linear;
          animation: rotation 10s infinite linear;
}
.preloader h2 span {
  font: 26px Monaco, MonoSpace;
  height: 180px;
  position: absolute;
  width: 20px;
  right: 47%;
  bottom: 50%;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  text-transform: uppercase;
  color: #ffce3c;
}
@media (max-width: 679.98px) {
  .preloader h2 span {
    font: 22px Monaco, MonoSpace;
    right: 46%;
    height: 140px;
  }
}
.preloader h2 span:nth-child(1) {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}
.preloader h2 span:nth-child(2) {
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}
.preloader h2 span:nth-child(3) {
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
}
.preloader h2 span:nth-child(4) {
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
}
.preloader h2 span:nth-child(5) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.preloader h2 span:nth-child(6) {
  -webkit-transform: rotate(48deg);
          transform: rotate(48deg);
}
.preloader h2 span:nth-child(7) {
  -webkit-transform: rotate(56deg);
          transform: rotate(56deg);
}
.preloader h2 span:nth-child(8) {
  -webkit-transform: rotate(64deg);
          transform: rotate(64deg);
}
.preloader h2 span:nth-child(9) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
.preloader h2 span:nth-child(10) {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
.preloader h2 span:nth-child(11) {
  -webkit-transform: rotate(88deg);
          transform: rotate(88deg);
}
.preloader h2 span:nth-child(12) {
  -webkit-transform: rotate(96deg);
          transform: rotate(96deg);
}
.preloader h2 span:nth-child(13) {
  -webkit-transform: rotate(104deg);
          transform: rotate(104deg);
}
.preloader h2 span:nth-child(14) {
  -webkit-transform: rotate(112deg);
          transform: rotate(112deg);
}
.preloader h2 span:nth-child(15) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.preloader h2 span:nth-child(16) {
  -webkit-transform: rotate(128deg);
          transform: rotate(128deg);
}
.preloader h2 span:nth-child(17) {
  -webkit-transform: rotate(136deg);
          transform: rotate(136deg);
}
.preloader h2 span:nth-child(18) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}
.preloader h2 span:nth-child(19) {
  -webkit-transform: rotate(152deg);
          transform: rotate(152deg);
}
.preloader h2 span:nth-child(20) {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}
.preloader h2 span:nth-child(21) {
  -webkit-transform: rotate(168deg);
          transform: rotate(168deg);
}
.preloader h2 span:nth-child(22) {
  -webkit-transform: rotate(176deg);
          transform: rotate(176deg);
}
.preloader h2 span:nth-child(23) {
  -webkit-transform: rotate(184deg);
          transform: rotate(184deg);
}
.preloader h2 span:nth-child(24) {
  -webkit-transform: rotate(192deg);
          transform: rotate(192deg);
}
.preloader h2 span:nth-child(25) {
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}
.preloader h2 span:nth-child(26) {
  -webkit-transform: rotate(208deg);
          transform: rotate(208deg);
}
.preloader h2 span:nth-child(27) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.preloader h2 span:nth-child(28) {
  -webkit-transform: rotate(224deg);
          transform: rotate(224deg);
}
.preloader h2 span:nth-child(29) {
  -webkit-transform: rotate(232deg);
          transform: rotate(232deg);
}
.preloader h2 span:nth-child(30) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
.preloader h2 span:nth-child(31) {
  -webkit-transform: rotate(248deg);
          transform: rotate(248deg);
}
.preloader h2 span:nth-child(32) {
  -webkit-transform: rotate(256deg);
          transform: rotate(256deg);
}
.preloader h2 span:nth-child(33) {
  -webkit-transform: rotate(264deg);
          transform: rotate(264deg);
}
.preloader h2 span:nth-child(34) {
  -webkit-transform: rotate(272deg);
          transform: rotate(272deg);
}
.preloader h2 span:nth-child(35) {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
}
.preloader h2 span:nth-child(36) {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}
.preloader h2 span:nth-child(37) {
  -webkit-transform: rotate(296deg);
          transform: rotate(296deg);
}
.preloader h2 span:nth-child(38) {
  -webkit-transform: rotate(304deg);
          transform: rotate(304deg);
}
.preloader h2 span:nth-child(39) {
  -webkit-transform: rotate(312deg);
          transform: rotate(312deg);
}
.preloader h2 span:nth-child(40) {
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}
.preloader h2 span:nth-child(41) {
  -webkit-transform: rotate(328deg);
          transform: rotate(328deg);
}
.preloader h2 span:nth-child(42) {
  -webkit-transform: rotate(336deg);
          transform: rotate(336deg);
}
.preloader h2 span:nth-child(43) {
  -webkit-transform: rotate(344deg);
          transform: rotate(344deg);
}
.preloader h2 span:nth-child(44) {
  -webkit-transform: rotate(352deg);
          transform: rotate(352deg);
}
.preloader h2 span:nth-child(45) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.preloader h2 span:nth-child(46) {
  -webkit-transform: rotate(368deg);
          transform: rotate(368deg);
}
.preloader h2 span:nth-child(47) {
  -webkit-transform: rotate(376deg);
          transform: rotate(376deg);
}
.preloader h2 span:nth-child(48) {
  -webkit-transform: rotate(384deg);
          transform: rotate(384deg);
}
.preloader h2 span:nth-child(49) {
  -webkit-transform: rotate(392deg);
          transform: rotate(392deg);
}
.preloader h2 span:nth-child(50) {
  -webkit-transform: rotate(400deg);
          transform: rotate(400deg);
}
.preloader h2 span:nth-child(51) {
  -webkit-transform: rotate(408deg);
          transform: rotate(408deg);
}
.preloader h2 span:nth-child(52) {
  -webkit-transform: rotate(416deg);
          transform: rotate(416deg);
}
.preloader h2 span:nth-child(53) {
  -webkit-transform: rotate(424deg);
          transform: rotate(424deg);
}
.preloader h2 span:nth-child(54) {
  -webkit-transform: rotate(432deg);
          transform: rotate(432deg);
}
.preloader h2 span:nth-child(55) {
  -webkit-transform: rotate(440deg);
          transform: rotate(440deg);
}
.preloader h2 span:nth-child(56) {
  -webkit-transform: rotate(448deg);
          transform: rotate(448deg);
}
.preloader h2 span:nth-child(57) {
  -webkit-transform: rotate(456deg);
          transform: rotate(456deg);
}
.preloader h2 span:nth-child(58) {
  -webkit-transform: rotate(464deg);
          transform: rotate(464deg);
}
.preloader h2 span:nth-child(59) {
  -webkit-transform: rotate(472deg);
          transform: rotate(472deg);
}
.preloader h2 span:nth-child(60) {
  -webkit-transform: rotate(480deg);
          transform: rotate(480deg);
}
.preloader h2 span:nth-child(61) {
  -webkit-transform: rotate(488deg);
          transform: rotate(488deg);
}
.preloader h2 span:nth-child(62) {
  -webkit-transform: rotate(496deg);
          transform: rotate(496deg);
}
.preloader h2 span:nth-child(63) {
  -webkit-transform: rotate(504deg);
          transform: rotate(504deg);
}
.preloader h2 span:nth-child(64) {
  -webkit-transform: rotate(512deg);
          transform: rotate(512deg);
}
.preloader h2 span:nth-child(65) {
  -webkit-transform: rotate(520deg);
          transform: rotate(520deg);
}
.preloader h2 span:nth-child(66) {
  -webkit-transform: rotate(528deg);
          transform: rotate(528deg);
}
.preloader h2 span:nth-child(67) {
  -webkit-transform: rotate(536deg);
          transform: rotate(536deg);
}
.preloader h2 span:nth-child(68) {
  -webkit-transform: rotate(544deg);
          transform: rotate(544deg);
}
.preloader h2 span:nth-child(69) {
  -webkit-transform: rotate(552deg);
          transform: rotate(552deg);
}
.preloader h2 span:nth-child(70) {
  -webkit-transform: rotate(560deg);
          transform: rotate(560deg);
}
.preloader h2 span:nth-child(71) {
  -webkit-transform: rotate(568deg);
          transform: rotate(568deg);
}
.preloader h2 span:nth-child(72) {
  -webkit-transform: rotate(576deg);
          transform: rotate(576deg);
}
.preloader h2 span:nth-child(73) {
  -webkit-transform: rotate(584deg);
          transform: rotate(584deg);
}
.preloader h2 span:nth-child(74) {
  -webkit-transform: rotate(592deg);
          transform: rotate(592deg);
}
.preloader h2 span:nth-child(75) {
  -webkit-transform: rotate(600deg);
          transform: rotate(600deg);
}
.preloader h2 span:nth-child(76) {
  -webkit-transform: rotate(608deg);
          transform: rotate(608deg);
}
.preloader h2 span:nth-child(77) {
  -webkit-transform: rotate(616deg);
          transform: rotate(616deg);
}
.preloader h2 span:nth-child(78) {
  -webkit-transform: rotate(624deg);
          transform: rotate(624deg);
}
.preloader h2 span:nth-child(79) {
  -webkit-transform: rotate(632deg);
          transform: rotate(632deg);
}
.preloader h2 span:nth-child(80) {
  -webkit-transform: rotate(640deg);
          transform: rotate(640deg);
}
.preloader h2 span:nth-child(81) {
  -webkit-transform: rotate(648deg);
          transform: rotate(648deg);
}
.preloader h2 span:nth-child(82) {
  -webkit-transform: rotate(656deg);
          transform: rotate(656deg);
}
.preloader h2 span:nth-child(83) {
  -webkit-transform: rotate(664deg);
          transform: rotate(664deg);
}
.preloader h2 span:nth-child(84) {
  -webkit-transform: rotate(672deg);
          transform: rotate(672deg);
}
.preloader h2 span:nth-child(85) {
  -webkit-transform: rotate(680deg);
          transform: rotate(680deg);
}
.preloader h2 span:nth-child(86) {
  -webkit-transform: rotate(688deg);
          transform: rotate(688deg);
}
.preloader h2 span:nth-child(87) {
  -webkit-transform: rotate(696deg);
          transform: rotate(696deg);
}
.preloader h2 span:nth-child(88) {
  -webkit-transform: rotate(704deg);
          transform: rotate(704deg);
}
.preloader h2 span:nth-child(89) {
  -webkit-transform: rotate(712deg);
          transform: rotate(712deg);
}
.preloader h2 span:nth-child(90) {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}
.preloader h2 span:nth-child(91) {
  -webkit-transform: rotate(728deg);
          transform: rotate(728deg);
}
.preloader h2 span:nth-child(92) {
  -webkit-transform: rotate(736deg);
          transform: rotate(736deg);
}
.preloader h2 span:nth-child(93) {
  -webkit-transform: rotate(744deg);
          transform: rotate(744deg);
}
.preloader h2 span:nth-child(94) {
  -webkit-transform: rotate(752deg);
          transform: rotate(752deg);
}
.preloader h2 span:nth-child(95) {
  -webkit-transform: rotate(760deg);
          transform: rotate(760deg);
}
.preloader h2 span:nth-child(96) {
  -webkit-transform: rotate(768deg);
          transform: rotate(768deg);
}
.preloader h2 span:nth-child(97) {
  -webkit-transform: rotate(776deg);
          transform: rotate(776deg);
}
.preloader h2 span:nth-child(98) {
  -webkit-transform: rotate(784deg);
          transform: rotate(784deg);
}
.preloader h2 span:nth-child(99) {
  -webkit-transform: rotate(792deg);
          transform: rotate(792deg);
}
.preloader h2 span:nth-child(100) {
  -webkit-transform: rotate(800deg);
          transform: rotate(800deg);
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100000;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 18px;
  padding-right: 31px;
  pointer-events: none;
  min-height: 60px;
}
@media (max-width: 1130px) {
  .header__wrapper {
    padding-top: calc(20px + 28 * ((100vw - 320px) / 810));
  }
}
@media (max-width: 1130px) {
  .header__wrapper {
    padding-bottom: calc(20px + 28 * ((100vw - 320px) / 810));
  }
}
@media (min-width: 991.98px) {
  .header__wrapper {
    padding: 48px 30px;
  }
}
.header__logo {
  z-index: 100000000;
  pointer-events: visible;
}
@media (max-width: 991.98px) {
  .header__logo {
    background-image: none !important;
  }
}
@media (min-width: 991.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 5.8854166667%;
            flex: 0 1 5.8854166667%;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 767.98px) {
  .header__logo img {
    width: 80%;
    height: 80%;
    min-width: 80%;
    min-height: 80%;
  }
}
.header__burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  z-index: 10000;
  pointer-events: visible;
}
@media (max-width: 1130px) {
  .header__burger {
    gap: calc(10px + 10 * ((100vw - 320px) / 810));
  }
}
.header__burger.active .header__burger--name {
  color: #fff;
}
.header__burger.active .header__burger--body {
  gap: 0px;
}
.header__burger.active .header__burger--body span {
  background-color: #fff;
}
.header__burger.active .header__burger--body span:nth-child(1) {
  position: absolute;
  top: 0;
  top: -3px;
  left: -3px;
  width: 13px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active .header__burger--body span:nth-child(2) {
  height: 0;
  -webkit-transition: 0s;
  transition: 0s;
}
.header__burger.active .header__burger--body span:nth-child(3) {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 13px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__burger.active .header__burger--btn {
  gap: 15px;
}
@media (min-width: 479.98px) {
  .header__burger.active .header__burger--menu {
    height: 477px;
    opacity: 1;
    visibility: visible;
  }
  .header__burger.active .header__burger--items {
    opacity: 1;
  }
  .header__burger.active .header__burger--items::after {
    height: 1px;
    -webkit-transition: 0.3s ease 0.2s;
    transition: 0.3s ease 0.2s;
  }
  .header__burger.active .header__burger--items::before {
    height: 1px;
  }
}
@media (max-width: 479.98px) {
  .header__burger.active .header__burger--menu {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.header__burger--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  z-index: 100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 8px 10px 0px 0px;
}
@media (max-width: 1130px) {
  .header__burger--btn {
    gap: calc(10px + 5 * ((100vw - 320px) / 810));
  }
}
@media (any-hover: hover) {
  .header__burger--btn:hover .header__burger--name {
    color: #FBD462;
  }
  .header__burger--btn:hover .header__burger--body span {
    background-color: #FBD462;
  }
}
.header__burger--name {
  font-size: 20px;
  color: #000000;
  margin: -5px 0px 0px 0px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__burger--body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__burger--body span {
  width: 15px;
  height: 3px;
  background-color: #000000;
}
.header__burger--body span:nth-child(1) {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__burger--body span:nth-child(2) {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__burger--body span:nth-child(3) {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__burger--menu {
  position: absolute;
  top: 0;
  right: -40%;
  width: 335px;
  height: 0;
  background: linear-gradient(195.03deg, #4D4D51 -6.72%, #26272C 136.1%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: opacity 0.3s ease, height 0.6s ease, visibility 0.6s ease;
  transition: opacity 0.3s ease, height 0.6s ease, visibility 0.6s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0px 20px 0px 0px;
}
@media (min-width: 479.98px) {
  .header__burger--menu {
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 479.98px) {
  .header__burger--menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.header__burger--menu--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media (min-width: 479.98px) {
  .header__burger--menu--inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 479.98px) {
  .header__burger--menu--inner {
    padding-top: 110px !important;
    padding-right: 20px;
    padding-bottom: 110px;
    padding-left: 20px;
  }
}
.header__burger--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 45px 0px;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (min-width: 991.98px) {
  .header__burger--items {
    opacity: 0;
  }
}
@media (max-width: 479.98px) {
  .header__burger--items {
    border-top: 2px solid #5B5B5B;
    border-bottom: 2px solid #5B5B5B;
  }
}
@media (min-width: 479.98px) {
  .header__burger--items::before {
    content: "";
    position: absolute;
    background-color: #5B5B5B;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
  }
  .header__burger--items::after {
    content: "";
    position: absolute;
    background-color: #5B5B5B;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: 0s;
    transition: 0s;
  }
}
.header__burger--item {
  font-size: 24px;
  color: #fff;
  font-family: MontserratMedium;
}
@media (max-width: 1130px) {
  .header__burger--item {
    font-size: calc(18px + 6 * ((100vw - 320px) / 810));
  }
}
@media (max-width: 479.98px) {
  .header__burger--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #4F4F57;
    width: 217px;
    height: 45px;
    border-radius: 8px;
  }
}
.header__burger--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 28px 0px;
}
.header__burger--social--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__burger--social--link svg {
  width: 150%;
}
@media (any-hover: hover) {
  .header__burger--social--link:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.path-line-preloader {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: line;
          animation-name: line;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
}
@-webkit-keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}
.path-line-preloader-arrow {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: line-arrow;
          animation-name: line-arrow;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
}
@-webkit-keyframes line-arrow {
  100% {
    stroke-dashoffset: 0;
    fill: #1FFF83;
  }
}
@keyframes line-arrow {
  100% {
    stroke-dashoffset: 0;
    fill: #1FFF83;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service {
  padding: 235px 0px 0px 0px;
}
.service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991.98px) {
  .service__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service__title--block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 190px;
  height: 190px;
  border: 3px solid #aaaaaa;
  padding: 30px 24px;
  margin: 0px 0px -3px 0px;
}
@media (max-width: 1130px) {
  .service__title--block {
    width: calc(170px + 20 * ((100vw - 320px) / 810));
  }
}
@media (max-width: 1130px) {
  .service__title--block {
    height: calc(170px + 20 * ((100vw - 320px) / 810));
  }
}
.service__title--block p {
  margin: 0;
}
.service__title--block p:nth-child(1) {
  font-family: MontserratMedium;
  font-size: 20px;
  line-height: 17px;
  color: #000000;
}
.service__title--block p:nth-child(2) {
  font-size: 12px;
  line-height: 21px;
  color: #444444;
  max-width: 115px;
}
.service__title--block span {
  position: absolute;
  background-color: #FBD462;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.service__title--block .top {
  width: 0px;
  height: 3px;
  top: -3px;
  left: -3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.service__title--block .right {
  top: -3px;
  right: -3px;
  width: 3px;
  height: 0px;
  -webkit-transition: 0.3s ease 0.3s;
  transition: 0.3s ease 0.3s;
}
.service__title--block .left {
  width: 3px;
  height: 0px;
  bottom: -3px;
  left: -3px;
  -webkit-transition: 0.3s ease 0.9s;
  transition: 0.3s ease 0.9s;
}
.service__title--block .bottom {
  width: 0px;
  height: 3px;
  bottom: -3px;
  right: -3px;
  -webkit-transform: rotate(180deg) translateX(-100%);
          transform: rotate(180deg) translateX(-100%);
  -webkit-transition: 0.3s ease 0.6s;
  transition: 0.3s ease 0.6s;
}
.service__title--block.active .top {
  width: 188px;
}
@media (max-width: 1130px) {
  .service__title--block.active .top {
    width: calc(168px + 20 * ((100vw - 320px) / 810));
  }
}
.service__title--block.active .right {
  height: 188px;
}
@media (max-width: 1130px) {
  .service__title--block.active .right {
    height: calc(168px + 20 * ((100vw - 320px) / 810));
  }
}
.service__title--block.active .left {
  height: 188px;
}
@media (max-width: 1130px) {
  .service__title--block.active .left {
    height: calc(168px + 20 * ((100vw - 320px) / 810));
  }
}
.service__title--block.active .bottom {
  width: 188px;
}
@media (max-width: 1130px) {
  .service__title--block.active .bottom {
    width: calc(168px + 20 * ((100vw - 320px) / 810));
  }
}
.service__title--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px 0px 73px;
}
@media (max-width: 991.98px) {
  .service__title--info {
    margin: 20px 0px 0px 0px;
    text-align: center;
    gap: 40px;
  }
}
.service__title--cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin: 0px 0px 15px 0px;
}
@media (max-width: 991.98px) {
  .service__title--cats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.service__title--cats--item {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #444444;
  position: relative;
  cursor: pointer;
}
@media (any-hover: hover) {
  .service__title--cats--item:hover::after {
    width: 100%;
  }
}
.service__title--cats--item-first {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}
.service__title--cats--item-second {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}
.service__title--cats--item-third {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}
.service__title--cats--item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background-color: #FBD462;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.service__title--text {
  max-width: 430px;
  font-size: 32px;
  line-height: 39px;
  color: #444444;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}
@media (max-width: 1130px) {
  .service__title--text {
    font-size: calc(20px + 12 * ((100vw - 320px) / 810));
  }
}
.service__body {
  opacity: 0;
}
.service__body--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 75px 0px 160px 0px;
  min-height: 535px;
}
@media (max-width: 1130px) {
  .service__body--inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .service__body--inner {
    padding: 40px 0px 10px 0px;
  }
}
.service__body--item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 355px;
          flex: 0 1 355px;
  background-color: #444444;
  cursor: pointer;
  margin: 0px 11px 17px 0px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.service__body--item.hide {
  margin: 0;
}
@media (any-hover: hover) {
  .service__body--item:hover .service__body--item--img {
    opacity: 0.6;
  }
  .service__body--item:hover .service__body--item--info {
    opacity: 1;
  }
}
.service__body--item--img {
  width: 100%;
  padding: 0px 0px 84.5070422535% 0px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.service__body--item--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #fff;
  font-size: 18px;
  font-family: MontserratMedium;
}
.service__body--item--info p {
  text-align: center;
  max-width: 150px;
  word-wrap: break-word;
}

.footer {
  z-index: 100;
  background-color: #fff;
}
.footer__container {
  padding: 0px 32px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0px 160px 0px;
}
.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  margin: 0px 0px 50px 0px;
}
.footer__title--text {
  font-size: 32px;
  color: #444444;
  text-align: center;
}
.footer__title--subtitle {
  max-width: 265px;
  font-size: 14px;
  color: #444444;
  text-align: center;
  line-height: 16px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px 125px 50px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    padding: 60px 0px 38px 0px;
    border-top: 3px solid #CCCCCC;
    border-bottom: 3px solid #CCCCCC;
  }
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 240px;
}
@media (any-hover: hover) {
  .footer__item:hover .footer__mail--img svg path {
    fill: #FBD462;
  }
  .footer__item:hover .footer__mail--link {
    color: #FBD462;
  }
}
.footer__mail {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
@media (max-width: 991.98px) {
  .footer__mail {
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}
.footer__mail.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.footer__mail--img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 90px;
  margin: 0px 0px 20px 0px;
}
.footer__mail--img svg {
  width: 100%;
  height: 100%;
}
.footer__mail--img svg path {
  -webkit-transition: 0.5s ease 0.1s;
  transition: 0.5s ease 0.1s;
}
.footer__mail--text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #CCCCCC;
}
@media (max-width: 1130px) {
  .footer__mail--text {
    font-size: calc(10px + 10 * ((100vw - 320px) / 810));
  }
}
@media (min-width: 991.98px) {
  .footer__mail--text {
    margin: 0px 0px 5px 0px;
  }
}
.footer__mail--link {
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #444444;
}
@media (max-width: 1130px) {
  .footer__mail--link {
    font-size: calc(14px + 14 * ((100vw - 320px) / 810));
  }
}
.footer__telephone {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: 1s ease 0.3s;
  transition: 1s ease 0.3s;
}
@media (max-width: 991.98px) {
  .footer__telephone {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}
.footer__telephone.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.footer__skype {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
  -webkit-transition: 1s ease 0.6s;
  transition: 1s ease 0.6s;
}
@media (max-width: 991.98px) {
  .footer__skype {
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}
.footer__skype.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.footer__links {
  position: relative;
  width: 100%;
  margin: 0px 0px 50px 0px;
}
.footer__links::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #CCCCCC;
  top: -3px;
  left: 0;
  z-index: 1;
}
.footer__links.active .footer__links--item--instagram {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.footer__links.active .footer__links--item--facebook {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.footer__links.active .footer__links--item--telegram {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}
.footer__links.active .footer__links--item--facebook2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
@media (max-width: 991.98px) {
  .footer__links {
    margin: 80px 0px 50px 0px;
  }
}
.footer__links--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__links--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border: 3px solid #CCCCCC;
  margin: -3px -1px 0px -2px;
  z-index: 10;
}
@media (max-width: 1130px) {
  .footer__links--item {
    width: calc(40px + 20 * ((100vw - 320px) / 810));
  }
}
@media (max-width: 1130px) {
  .footer__links--item {
    height: calc(40px + 20 * ((100vw - 320px) / 810));
  }
}
@media (any-hover: hover) {
  .footer__links--item:hover {
    border-color: #FBD462;
    z-index: 15;
  }
}
.footer__links--item--instagram {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: opacity 1s ease, border-color 0.2s ease, -webkit-transform 0.6s ease;
  transition: opacity 1s ease, border-color 0.2s ease, -webkit-transform 0.6s ease;
  transition: opacity 1s ease, transform 0.6s ease, border-color 0.2s ease;
  transition: opacity 1s ease, transform 0.6s ease, border-color 0.2s ease, -webkit-transform 0.6s ease;
}
.footer__links--item--facebook {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: opacity 1s ease 0.2s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.2s;
  transition: opacity 1s ease 0.2s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.2s;
  transition: opacity 1s ease 0.2s, transform 0.6s ease 0.2s, border-color 0.2s ease;
  transition: opacity 1s ease 0.2s, transform 0.6s ease 0.2s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.2s;
}
.footer__links--item--facebook2 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: opacity 1s ease 0.6s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.6s;
  transition: opacity 1s ease 0.6s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.6s;
  transition: opacity 1s ease 0.6s, transform 0.6s ease 0.6s, border-color 0.2s ease;
  transition: opacity 1s ease 0.6s, transform 0.6s ease 0.6s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.6s;
}
.footer__links--item--transform {
  border: 3px solid #CCCCCC;
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
  -webkit-transition: opacity 1s ease 0.4s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.4s;
  transition: opacity 1s ease 0.4s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.4s;
  transition: opacity 1s ease 0.4s, transform 0.6s ease 0.4s, border-color 0.2s ease;
  transition: opacity 1s ease 0.4s, transform 0.6s ease 0.4s, border-color 0.2s ease, -webkit-transform 0.6s ease 0.4s;
  opacity: 0;
  margin: 0px -1px -3px -2px;
}
.footer__links--item--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 50%;
}
.footer__links--item--img svg {
  width: 100%;
  height: 100%;
}
.footer__links--item--img svg path {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media (any-hover: hover) {
  .footer__links--item:hover .footer__links--item--img svg path {
    fill: #FBD462;
  }
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #444444;
  text-align: center;
}
.footer__copyright p {
  margin: 0px 0px 20px 0px;
}
.footer__copyright img {
  max-width: 8%;
  min-width: 8%;
  opacity: 50%;
}
@media (max-width: 991.98px) {
  .footer__copyright img {
    max-width: 15%;
    min-width: 15%;
  }
}
@media (max-width: 679.98px) {
  .footer__copyright img {
    max-width: 19%;
    min-width: 19%;
  }
}
@media (max-width: 479.98px) {
  .footer__copyright img {
    max-width: 30%;
    min-width: 30%;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  font-size: 30px;
  text-align: center;
  font-family: MontserratRegular;
  color: #404040;
}
@media (max-width: 1130px) {
  .title {
    font-size: calc(18px + 12 * ((100vw - 320px) / 810));
  }
}

.hide {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}