.footer{
    z-index: 100;
    background-color: #fff;

    &__container{
        padding: 0px 32px;
    }

    &__inner{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px 0px 160px 0px;
    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 23px;
        margin: 0px 0px 50px 0px;
        &--text{
            font-size: 32px;
            color: #444444;
            text-align: center;
        }

        &--subtitle{
            max-width: 265px;
            font-size: 14px;
            color: #444444;
            text-align: center;
            line-height: 16px;
        }
    }

    &__contacts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px 125px 50px;
        width: 100%;
        @media(max-width: $md2+px){
            flex-direction: column;
            gap: 50px;
            padding: 60px 0px 38px 0px;
            border-top: 3px solid #CCCCCC;
            border-bottom: 3px solid #CCCCCC;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-width: 240px;

        @media(any-hover:hover){ 
            &:hover{
                .footer__mail--img{
                    svg{
                        path{
                            fill: $yellowColor;
                        }
                    }
                }

                .footer__mail--link{
                    color: $yellowColor;
                }
            }
        }
    }

    &__mail{
        transform: translateY(80px);
        opacity: 0;

        transition: 1s ease;

        @media(max-width: $md2+px){
            transition: 1s ease;
        }

        &.active{
            transform: translateY(0px);
            opacity: 1;
        }
        &--img{
            display:inline-flex;
            justify-content: center;
            width: 70px;
            height: 90px;
            margin: 0px 0px 20px 0px;

            svg{
                width: 100%;
                height: 100%;
                path{
                    transition: .5s ease .1s;
                }
            }
        }

        &--text{
           @include adaptiv-value('font-size',20,10,1);
            line-height: 24px;
            text-align: center;
            @media(min-width: $md2+px){
                margin: 0px 0px 5px 0px;
            }

            color: #CCCCCC;
        }

        &--link{
            @include adaptiv-value('font-size',28,14,1);
            line-height: 34px;
            text-align: center;
            transition: .2s ease;
            color: #444444;
        }
    }

    &__telephone{
        transform: translateY(-80px);
        opacity: 0;

        transition: 1s ease .3s;

        @media(max-width: $md2+px){
            transform: translateY(80px);
            transition: 1s ease;
        }

        &.active{
            transform: translateY(0px);
            opacity: 1;
        }
    }

    &__skype{
        transform: translateY(80px);
        opacity: 0;

        transition: 1s ease .6s;

        @media(max-width: $md2+px){
            transition: 1s ease;
        }

        &.active{
            transform: translateY(0px);
            opacity: 1;
        }

    }

    &__links{
        position: relative;
        width: 100%;
        margin: 0px 0px 50px 0px;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #CCCCCC;
            top: -3px;
            left: 0;
            z-index: 1;
        }

        &.active{
            .footer__links--item--instagram{
                transform: translateY(0);
                opacity: 1;
            }

            .footer__links--item--facebook{
                transform: translateY(0);
                opacity: 1;
            }

            .footer__links--item--telegram{
                transform: translateY(-100%);
                opacity: 1;
            }

            .footer__links--item--facebook2{
                transform: translateY(0);
                opacity: 1;
            }
        }

        @media(max-width: $md2+px){
            margin: 80px 0px 50px 0px;
        }
        &--items{
            display: flex;
            justify-content: center;
        }

        &--item{
            display: flex;
            align-items: center;
            justify-content: center;
            @include adaptiv-value('width',60,40,1);
            @include adaptiv-value('height',60,40,1);
            border: 3px solid #CCCCCC;
            margin: -3px -1px 0px -2px;
            z-index: 10;

            @media(any-hover:hover){ 
                &:hover{
                    border-color: $yellowColor;
                    z-index: 15;
                }
            }

            &--instagram{
                transform: translateY(50px);
                opacity: 0;

                transition: opacity 1s ease, transform .6s ease, border-color .2s ease;
            }

            &--facebook{
                transform: translateY(50px);
                opacity: 0;
                transition: opacity 1s ease .2s, transform .6s ease .2s, border-color .2s ease;
            }

            &--facebook2{
                transform: translateY(50px);
                opacity: 0;
                transition: opacity 1s ease .6s, transform .6s ease .6s, border-color .2s ease;

            }

            &--transform{
                border: 3px solid #CCCCCC;
                transform: translateY(-170%);
                transition: opacity 1s ease .4s, transform .6s ease .4s, border-color .2s ease;
                opacity: 0;

                margin: 0px -1px -3px -2px;
            }

            &--img{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                height: 50%;

                svg{
                    width: 100%;
                    height: 100%;
                    path{
                        transition: .2s ease;
                    }
                }

            }

            @media(any-hover:hover){ 
                &:hover{
                    .footer__links--item{
                        &--img{
                            svg{
                                path{
                                    fill: $yellowColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        color: #444444;
        text-align: center;
        p{
            margin: 0px 0px 20px 0px;
        }

        img{
            max-width: 8%;
            min-width: 8%;
            opacity: 50%;

            @media(max-width: $md2+px){
                max-width: 15%;
                min-width: 15%;
            }

            @media(max-width: $mp1+px){
                max-width: 19%;
                min-width: 19%;
            }

            @media(max-width: $md4+px){
                max-width: 30%;
                min-width: 30%;
            }
        }
    }
}