//Миксины//

@import "mixin.scss";

//Шрифты по умолчанию//

@import "fonts.scss";

$font-size: 16;

$font-family-Parisienne: Parisienne;
$font-family-MontserratBlack: MontserratBlack;
$font-family-MontserratExtraBold: MontserratExtraBold;
$font-family-MontserratBold: MontserratBold;
$font-family-MontserratSemiBold: MontserratSemiBold;
$font-family-MontserratMedium: MontserratMedium;
$font-family-MontserratRegular: MontserratRegular;
$font-family-MontserratThin: MontserratThin;
$font-family-MontserratLight: MontserratLight;
$letterSpacing-mainTitle: 30;
$letterSpacing-mainSubtitle: 4.7;

//Переменные//

$maxWidthContainer: 1130;
$md1: 1365.98; 
$md2: 991.98; 
$md3: 767.98; 
$md4: 479.98; 
$mp1: 679.98;

$maincolor: #404040;
$yellowColor: #FBD462;

//Обнуление//


*{box-sizing: border-box;}
html,body{font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input{padding: 0; margin: 0; border: 0; }
input::-ms-clear{display: none;}
input:focus{outline: none;}
button {padding: 0;border: none;font: inherit;color: inherit;background-color: transparent;cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul{padding-inline-start: 0!important;margin: 0;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;margin: 0;}

// Стили//

html{
    height: 100%;
}

body{
    color: $maincolor;
    font-family: $font-family-MontserratRegular;
    font-weight: 300;
    margin: 0;
    height: 100%;
    
    &.lock{
        overflow: hidden;
    }
}  

#map{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.wrapper{
    min-height: 100%;
    overflow: hidden;

    position: relative;

    display: flex;
    flex-direction: column;

    &__icon{
        position: fixed;
        right: 10%;
        bottom: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiv-value('width',75,40,1);
        @include adaptiv-value('height',75,40,1);
        background-color: $yellowColor;
        box-shadow: 0px 18px 25px rgba(201, 148, 43, 0.336362);
        border-radius: 4px;
        animation: wrapperIconAnim 1s infinite;
        z-index: 1000000000;

        img{
            width: 50%;
        }

        &--img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    z-index: 10000000000;

    &__body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__inner{
        display: flex;
        position: relative;
        width: 300px;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 30px;

        @media(max-width: $mp1+px){
            width: 230px;
            height: 230px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            image-rendering: optimizeQuality;
        }

        p{
            color: #ffce3c;
            font-family: $font-family-MontserratBlack;
            @include adaptiv-value('font-size',35,20,1);
            text-align: center;
            letter-spacing: 10px;
            color: #ffce3c;
            margin: 5px 0px 0px 0px;
        }
    }

    &__img{
        display: flex;
        width: 100%;

        &--arrow{
            width: 70%;
            transform: translateX(20%);
        }

        &--mountain{
            width: 100%;
            transform: translateX(-20%);
        }
    }

    h2{
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotation 10s infinite linear;
        span{
            font: 26px Monaco, MonoSpace;
            height: 180px;
            position: absolute;
            width: 20px;
            right: 47%;
            bottom: 50%;
            transform-origin: bottom center;
            text-transform: uppercase;
            color: #ffce3c;
            @media(max-width: $mp1+px){
                font: 22px Monaco, MonoSpace;
                right: 46%;
                height: 140px;
            }
        }

        @for $i from 1 through 100 {
            span:nth-child(#{$i}) {
            transform: rotate($i*8+deg);
            }
        }
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}

.container{
    max-width: $maxWidthContainer + px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

// Подключение остальных стилей //

@import "header.scss";
@import "content.scss";
@import "footer.scss";
@import "help.scss";

// Анимация // 
 
@keyframes wrapperIconAnim {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(5%);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
    
}



